

*{
    
    box-sizing: border-box;
    font-family: "Arial";
    width: 100%;
    height: 100%;
}

.parent_box{
    width: 100%;
    height: 100%;
    background-color: #298129;
}


.sub_parent{
    
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

#canvas, .element_box{
    height: 80%;
    width: 55%;
    margin: 3%;
} 

#canvas{
    background-color: rgb(205, 184, 224);
}
.element_box{
    background-color: rgb(255, 255, 255);
    height: 90%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

#undo, #redo{
    margin-top: 2%;
    height: 7vh;
    width: 10vw;
    border-radius: 20px;
}

#undo{
    margin-left: 10vw;
}



/* adding font button ::*/

#fontDropdown {
    margin: 10%;
    height: 6vh;
    width: 10vw;
    display: inline-block;
}

#fontDropdown select {
    font-size: 12px;
}

/* font size button :: */

#sizeDropdown {
    margin: 10%;
    height: 6vh;
    width: 10vw;
    border-radius: 5px;
    display: inline-block;
}

#sizeDropdown select {
    font-size: 14px;
}


/*  color changing button :: */

#colorDropdown {
    margin: 10%;
    height: 6vh;
    width: 10vw;
    border-radius: 5px;
    display: inline-block;
}

#colorDropdown select {
    font-size: 14px;
}

.color-option {
    display: inline-block;
  
    margin-right: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}


/* add text :: */


.draggable {
    position: absolute;
    cursor: move;
    background-color: #f0f0f0;
    border-radius: 10px;
}

.draggable div {
    user-select: none;
}

#addTextBtn {
   
    height: 6vh;
    width: 10vw;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}

.add_text{
    margin-top: 10%;
}

#deleteBtn{
   
    height: 6vh;
    width: 8vw;
}

#canvas > div{
  
    width: 15vw;
    height: 8vh;
    overflow: hidden;
}